body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url("../images/R.jpg");
    background-size: cover;
}

/* Navigation Bar and Logo Container*/
.header {
    position:fixed;
    top:0px;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

/* Navigation Links and states */
.nav li {
    font-size: 40px;
    font-family: Brush Script MT;
    margin-right: 15px;
    text-decoration:none;
    display:inline-block;
    cursor: pointer;
}
.nav a:link{
    text-decoration: none;
    color:black;
}
.nav a:visited {
    text-decoration: none;
    color: black;
}
.nav a:hover {
    text-decoration:none;
    color:blueviolet;
}


/* Main Page */
.title {
    display: flex;
    
    text-align: center;
    font-family: Brush Script MT;
    font-size: 3rem;
    color:rgb(25, 2, 47)
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: auto;
    gap: 10%;
}

/* Artist Information Section */
.artist {
    max-width: 400px;
    height: max-content;
    margin: 10px;
}
.info {
    background-color: rgb(91, 21, 156);
    padding: 5px 10px 5px 10px;
    border: 5px solid purple;
    border-radius: 10px;
    color: white;
    box-shadow: 10px 10px 5px rgba(175, 175, 175, 0.299);
    align-items: center;
}


/* Picture Gallery*/
.artContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.artContainer .art {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(175, 175, 175, 0.299);
    border-style:ridge;
    border-width: 30px;
    border-color: plum;

}
.artInfo {
    background-color: rgb(91, 21, 156);
    padding: 5px 10px 5px 10px;
    border: 5px solid purple;
    border-radius: 10px;
    color: white;
    
    margin-top: 10px;
    box-shadow: 10px 10px 5px rgba(175, 175, 175, 0.299);
    max-width: fit-content;
}
.button {
    justify-self: center;
    align-self:flex-start;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    max-width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color:seashell;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
    margin: 10px;
}

.button a:link {
    font-family: Brush Script MT;
    font-size: 30px;
    text-decoration: none;
    color:black;   
}
.button a:visited {
    text-decoration: none;
    color:black;
}
.button a:hover {
    text-decoration: none;
    color:blueviolet;
}

/* Footer details*/
.footer {
    bottom:0;
    background-color: rgb(91, 21, 156);
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    border: 5px solid purple;
    color: white;
}

/*Responsive for small screens*/
@media screen and (max-width: 600px) {  
    .nav li {
        font-size: 25px;
    }
    .artContainer {
        margin: 10px;
    }
    .artContainer .art {
        height: 350px;
        width: 350px;
    }
}