body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:bisque;
}

.header {
    position:fixed;
    top:0px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.nav li {
    font-size: 40px;
    font-family: Brush Script MT;
    margin-right: 15px;
    text-decoration:none;
    display:inline-block;
    cursor: pointer;
}

.gallery {
    width: 90%;
    height: auto;
    margin-top: 100px;
    display: grid;
    grid-template-areas: "title title" 
                        "artist pic";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
}

.title {
    grid-area: title;
    justify-self: center;
}
.artist {
    grid-area: artist;
}
.pic {
    grid-area: pic;
}
.pic .art {
    height: 300px;
    width: 300px;
}
.footer {
    bottom: 0;
    justify-content: left;
}